/*.grey .accordion > li{
    width: 98%;
}*/
.grey #accordion-sparepart.accordion > li {
    width: 100%;
}
.left-menu-wrapper {
    margin-left: 5px;
}
.grey .accordion{
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
}
.grey .accordion, .grey .accordion li {
    margin: 0; 
    padding: 0; 
    border: none;
}

.grey .accordion{
    margin-top: 5px;
    margin-bottom: 15px;
}
.grey .accordion.modelline, .grey .accordion.subcategory{
    margin-top: 0;
    margin-bottom: 0;
    /*height: 100%;*/
}
/*.grey .accordion .draft a {
    padding: 5px 5px;
}*/
.grey .accordion a {
    padding: 10px 10px 10px 40px; 
    background: #ececec; 
    text-decoration:none; 
    display: block; 
    color: #333; 
    text-align: left;
    /*border-bottom: 1px solid #ccc;*/ 
    /*border-top: 1px solid #fff; */
    position: relative; 
    /*text-shadow: 1px 1px 1px #fff;*/
    height: 100%;
}
.grey .accordion.modelline a.dcjq-parent:not(.active){
    padding: 10px 10px 10px 10px; 
}
.grey .accordion.subcategory a {
    padding: 10px 10px 10px 10px; 
    text-decoration: underline;
}
.grey .accordion.modelline a:hover:not(.dcjq-parent), .grey .accordion.subcategory a:hover{
    text-decoration: none;
}

.grey .accordion.modelline ul:last-child li:last-child a:not(.dcjq-parent){
    padding-bottom: 10px;
}

.grey .accordion.modelline a:not(.dcjq-parent){
    text-decoration: underline;
    padding: 5px 5px 0 15px;
}

.grey .accordion div.spareparts-wrapper{
    background: #ececec; 
    /*padding: 5px 10px;*/
    width: 100%;
}
/*.grey .accordion a.dcjq-parent, .grey .accordion a.dcjq-parent:hover {*/

/*.grey .accordion:not(.modelline) > li > a, .grey .accordion:not(.modelline) > li > a:hover , .modelline > li > a, .modelline > li > a:hover */

.grey .accordion:not(.modelline) > li > a, .grey .accordion:not(.modelline .subcategory) > li > a:hover 
{
    background: #D7D4D4 url(/images/main_menu_bg.png) repeat-x 0 -1px;
}
.grey .accordion.modelline > li > a, .grey .accordion.modelline > li > a:hover, .grey .accordion.subcategory > li > a {
    background-color: #e9e9e9;
}

.grey .accordion.modelline a.dcjq-parent.active {
    border-bottom: 2px solid #d1d0d0;
}

.prod-wrapper .grey .accordion > li{
    /*height: 100%;*/
}
.prod-wrapper .grey{
    font-size: 12px;
}
/*.prod-wrapper .elements table td{
    border-radius: 4px;
    background-color: #e9e9e9;
}*/
.prod-wrapper div.grey{
    
}

.prod-wrapper ul.accordion.modelline div{
    /*line-height: 100%;*/
}
.prod-wrapper ul.accordion.modelline a.high {
    min-height: 30px;
}

.grey .accordion a .dcjq-icon {
    position: absolute;
    top: 50%;
    left: 14px;
    height: 21px; 
    width: 16px; 
    margin-top: -8px;
    background: url(/images/accordion_arrows.png) no-repeat scroll 0 0 transparent;
    background-position: -16px 0;
}
.grey .accordion.modelline a .dcjq-icon {
    margin-top: -13px;
}

.grey .accordion.modelline a.dcjq-parent, .subcategory-wrapper a {
    min-height: 30px;
}

.grey .accordion.modelline a .dcjq-icon {
    background: none;
}
.grey .accordion a.dcjq-parent.active .dcjq-icon {
    background: url(/images/accordion_arrows.png) no-repeat scroll 0 0 transparent;
}
.grey .accordion > li > ul > li > a {
    padding: 10px 10px 10px 60px;
}

.grey .accordion > li > ul > li > a .dcjq-icon {
    left: 40px;
}
.grey .accordion > li > ul > li > a.dcjq-parent .dcjq-icon {
    background: url(/images/accordion_arrows_second_level.png) no-repeat scroll 0 0 transparent;
    background-position: -16px 0;
}

.grey .accordion > li > ul > li > a.dcjq-parent.active .dcjq-icon {
    background: url(/images/accordion_arrows_second_level.png) no-repeat scroll 0 0 transparent;
}
.grey .accordion > li > ul > li > ul > li > a.dcjq-parent .dcjq-icon {
    background: url(/images/accordion_arrows_third_level.png) no-repeat scroll 0 0 transparent;
    background-position: -16px 0;
    left: 60px;
    margin-top: -7px;
}
.grey .accordion > li > ul > li > ul > li > a.dcjq-parent.active .dcjq-icon {
    background: url(/images/accordion_arrows_third_level.png) no-repeat scroll 0 0 transparent;
}
.grey .accordion > li > ul > li > ul > li > a {
    padding: 5px 5px 5px 80px;
}
.grey .accordion > li > ul > li > ul > li > a
{
     background: none repeat scroll 0 0 #E4E4E4;
}


.grey .accordion a:active{}

.grey .accordion > li > a {
    color: #5f5e5e;
    font-weight: bold;
}
.grey .accordion > li:first-child > a {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.grey .accordion > li:last-child > a:not(.active), #accordion-sparepart > li > ul > li:last-child > a:not(.active) {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom: 0;
}
/*
.grey .accordion li ul a {
    padding: 5px 10px 5px 50px;
}
*/
/*
.grey .accordion > li > ul > li  a {
    padding: 5px 10px 5px 45px; 
}
*/
/* !!!!!!!!!!!!!
.grey .accordion > li > ul > li > ul  a {
    padding: 5px 20px; 
}*/

.grey .accordion:not(#accordion-sparepart) > li:not(:last-child) ul a {
    border-bottom: 1px dotted #afaf94;
}

/*.grey .accordion > li:last-child ul li:not(:last-child) a, .grey .accordion > li:last-child ul li:not(:last-child) div.spareparts-wrapper {
    border-bottom: 1px dotted #afaf94;
}*/

#accordion-sparepart div.spareparts-wrapper, #accordion-sparepart a.dcjq-parent
{
    border-top: 1px solid #fff;
    border-bottom: 1px solid #ccc;
}

#accordion-sparepart > li > ul > li:first-child > a.dcjq-parent
{
    border-top: 0;
}

#accordion-sparepart > li > ul > li > a.dcjq-parent
{
    background-color: #DFDFDF;
}
/*
#accordion-sparepart a.dcjq-parent {
     border-bottom: 1px solid #ccc;
}*/